.advantages-primary {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 256px 1fr;
    grid-template-rows: 256px 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 400px 1fr;
  }
}

.advantages-primary--bridge {
  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 256px;

    & .advantages-primary__wrapper {
      grid-column: 2 / -1;
      grid-row: 1 / 2;
    }

    & .advantages-primary__image {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 400px;
  }
}

.advantages-primary__wrapper {
  background-color: $color-bg-secondary;
  color: $color-text-secondary;
  padding: 0 20px;
  padding-top: 40px;
  padding-bottom: 35px;
}
