.advantages-primary {
  .advantages__title {
    padding-top: 33px;
  }

  @media (max-width: $mobile-width-only) {
    &:first-of-type .advantages-primary__wrapper {
      position: relative;

      &::before {
        position: absolute;
        width: 320px;
        height: 57px;
        content: url("../img/triangle-reversed.svg");
        top: 0;
        left: 0;
      }
    }
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 256px 1fr;
    grid-template-rows: 256px 1fr;

    .advantages__title {
      padding-top: 11px;
    }

    &:nth-of-type(2) .advantages-primary__wrapper {
      padding-top: 46px;
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 400px 1fr;
  }
}

.advantages-primary--bridge {
  .advantages__title {
    padding-top: 0;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 256px;

    & .advantages-primary__wrapper {
      grid-column: 2 / -1;
      grid-row: 1 / 2;
    }

    & .advantages-primary__image {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 400px;
  }
}

.advantages-primary__wrapper {
  background-color: $color-bg-secondary;
  color: $color-text-secondary;
  padding: 0 20px;
  padding-top: 40px;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-top: 31px;
  }
}
