.advantages {
  text-align: center;
}

.advantages__slogan {
  @include size-text-subtitle;

  display: block;
  padding: 0 20px;
  padding-top: 32px;
  padding-bottom: 17px;
}

.advantages__intro {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: normal;
  padding: 0 20px;
  padding-bottom: 16px;
}

.advantages__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.advantages-primary {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 256px 1fr;
    grid-template-rows: 256px 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 400px 1fr;
  }
}

.advantages__item {
  @media (min-width: $tablet-width) {
    &:first-of-type {
      grid-column: 1 / -1;
    }

    &:nth-of-type(2) {
      grid-column: 1 / -1;
    }

    &:nth-of-type(3) {
      grid-column: 1 / 2;
    }
  }
}

.advantages__item--secondary {
  background-color: $color-bg-tertiary;
  color: $color-text;
  padding: 25px 20px;

  .advantages__title {
    color: $color-text-bold;
  }
}

.advantages__title {
  @include size-text-subtitle;

  margin: 0;
}

.advantages__number {
  padding: 21px 0;
  margin: 0;
}

.advantages__description {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.advantages__features {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 3;
    display: flex;
  }
}
