.button {
  @include size-text-title;

  display: block;
  background-color: $color-bg-secondary;
  color: $color-text-secondary;
  width: 280px;
  padding: 0;
  padding-top: 18px;
  padding-bottom: 14px;
  border: none;
}
