.catalog__main-title {
  @include size-text-subtitle;

  padding-top: 33px;
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    padding-top: 64px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 102px;
  }
}

.catalog__text {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;

  padding: 0 20px;
  padding-top: 26px;
  padding-bottom: 34px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-top: 34px;
    padding-bottom: 77px;
    padding-left: 170px;
    padding-right: 170px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 382px;
    padding-right: 382px;
  }
}

.catalog__list {
  list-style: none;
  padding: 0 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 0;
    padding-right: 0;
  }
}

.catalog__item {
  @media (max-width: $mobile-width-only) {
    position: relative;
    padding: 22px 0;

    &::before {
      position: absolute;
      content: "";
      width: 320px;
      height: 1px;
      background-color: #e5e5e5;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
    }
  }

  @media (min-width: $tablet-width) {
    position: relative;

    &:first-of-type {
      grid-column: 1 / -1;
    }

    &:nth-of-type(3n) .catalog__wrapper {
      background-color: #eaeaea;
    }
  }

  @media (min-width: $desktop-width) {
    &:nth-of-type(3n) .catalog__wrapper {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

.catalog__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 84px;
    grid-template-rows: 1fr 1fr;
    background-color: $color-bg-form-control;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    color: $color-bg;
  }
}

.catalog__title {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 10px;
  margin: 0;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    padding-top: 15px;
    padding-left: 20px;
  }
}

.catalog__author {
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 10px;
  margin: 0;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    padding-left: 20px;
  }
}

.catalog__button-wrapper {
  position: relative;

  @media (min-width: $tablet-width) {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    margin: auto 0;
  }
}

.catalog__icon-like {
  fill: #000000;
  opacity: 0.3;

  @media (min-width: $desktop-width) {
    fill: #ffffff;
    opacity: 1;
  }
}

.catalog__count {
  position: absolute;
  margin-left: 14px;
  top: 3px;
  font-family: inherit;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;

  @media (min-width: $tablet-width) {
    margin-left: 9px;
  }

  @media (min-width: $desktop-width) {
    color: $color-bg;
  }
}
