.features {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.features__item {
  background-color: $color-bg;
  text-align: left;
  padding-left: 70px;

  &:first-of-type {
    padding-top: 35px;
  }

  &:last-of-type {
    padding-bottom: 35px;
  }

  &:last-child .features__description {
    padding-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    padding: 0;

    &:first-of-type {
      padding-top: 0;
    }

    &:last-of-type {
      padding-bottom: 0;
    }

    width: 256px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.features__title {
  @include size-text-subtitle;

  margin: 0;
  color: $color-text-bold;
}

.features__description {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: $color-text;
  padding: 21px 0;
}
