.feedback-form {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.feedback-form__legend {
  @include size-text-subtitle;

  display: block;
  text-align: center;
  padding: 20px 0;
}

.feedback-form__fieldset {
  padding: 0 20px;
  border: none;
  margin: 0;
}

.feedback-form__fieldset--full-name {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 25px;

  .feedback-form__field {
    display: flex;
    gap: 14px;
  }

  .feedback-form__label {
    margin: auto;
  }
}

.feedback-form__fieldset--contacts {
  padding-bottom: 28px;

  .feedback-form__field {
    display: block;

    &:first-of-type {
      margin-bottom: 14px;
    }
  }

  .feedback-form__label {
    display: block;
    padding-bottom: 6px;
  }

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;

    .feedback-form__field {
      display: flex;
    }

    .feedback-form__label {
      white-space: nowrap;
      margin: auto 0;
    }
  }
}

.feedback-form__fieldset--impression {
  .feedback-form__label {
    display: block;
    box-sizing: border-box;
    width: 100%;
    font-size: 18px;
    line-height: 26px;
    text-transform: capitalize;
    font-weight: bold;
    padding-left: 75px;
    padding-bottom: 43px;
  }


  @media (min-width: $tablet-width) {
    grid-row: 1 / 2;
  }
}

.feedback-form__fieldset--visited-attractions {
  .feedback-form__label {
    display: block;
    box-sizing: border-box;
    width: 100%;
    font-size: 18px;
    line-height: 26px;
    text-transform: capitalize;
    font-weight: bold;
    padding-left: 75px;
    padding-bottom: 54px;
  }

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.feedback-form__fieldset--emotions {
  padding-bottom: 70px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
  }
}

.feedback-form__label {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.feedback-form__button {
  margin: 0 20px;
}

.feedback-form__required-fields {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin: auto 0;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: right;
  }
}
