.feedback-form {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 120px;
  }
}

.feedback-form__legend {
  @include size-text-subtitle;

  display: block;
  text-align: center;
  padding: 20px 0;

  @media (max-width: $mobile-width-only) {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 320px;
      height: 1px;
      background-color: #e5e5e5;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
    }
  }
}

.feedback-form__fieldset {
  padding: 0;
  border: none;
  margin: 0;
}

.feedback-form__fieldset--full-name {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 25px;

  .feedback-form__field {
    display: flex;
    gap: 14px;
  }

  .feedback-form__label {
    margin: auto;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 72px;
    padding-left: 58px;

    .feedback-form__legend {
      text-align: left;
      padding-top: 10px;
      padding-bottom: 54px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 84px;
  }
}

.feedback-form__fieldset--contacts {
  padding-bottom: 28px;

  .feedback-form__field {
    display: block;

    &:first-of-type {
      margin-bottom: 14px;
    }
  }

  .feedback-form__label {
    display: block;
    padding-left: 21px;
    padding-bottom: 6px;
  }

  .feedback-form__legend {
    @include feedback-form-line;
  }

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    padding-bottom: 32px;

    .feedback-form__legend {
      padding-top: 0;
    }

    .feedback-form__label {
      padding-left: 22px;
    }

    .feedback-form__field:first-of-type {
      margin-bottom: 27px;
    }
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;

    .feedback-form__legend {
      margin-bottom: 51px;
    }

    .feedback-form__field {
      display: flex;
    }

    .feedback-form__label {
      white-space: nowrap;
      margin: auto 0;
      padding-left: 0;
      padding-right: 16px;
    }
  }
}

.feedback-form__fieldset--impression {
  .feedback-form__label {
    display: block;
    box-sizing: border-box;
    width: 100%;
    font-size: 18px;
    line-height: 26px;
    text-transform: capitalize;
    font-weight: bold;
    padding-top: 18px;
    padding-bottom: 14px;
    padding-left: 78px;
    margin-bottom: 14px;
  }


  @media (min-width: $tablet-width) {
    grid-row: 1 / 2;

    .feedback-form__legend {
      text-align: left;
      padding-top: 10px;
      padding-bottom: 54px;
    }

    .feedback-form__label {
      margin-bottom: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    .feedback-form__legend {
      padding-left: 80px;
    }
  }
}

.feedback-form__fieldset--visited-attractions {
  .feedback-form__label {
    display: block;
    box-sizing: border-box;
    width: 100%;
    font-size: 18px;
    line-height: 26px;
    text-transform: capitalize;
    font-weight: bold;
    padding-left: 75px;
    padding-top: 16px;
    padding-bottom: 14px;
    margin-bottom: 24px;
  }

  .feedback-form__legend {
    @include feedback-form-line;
  }

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 18px;

    .feedback-form__legend {
      box-sizing: border-box;
      padding-bottom: 43px;
      padding-left: 30%;
      padding-right: 30%;
    }

    .feedback-form__field:nth-child(even) {
      margin-left: 100px;
    }

    .feedback-form__field:nth-child(odd) {
      margin-left: 35px;
    }

    .feedback-form__label {
      margin-bottom: 32px;
      padding-left: 75px;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.feedback-form__fieldset--emotions {
  padding-bottom: 48px;

  .feedback-form__legend {
    @include feedback-form-line;
  }

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    padding-bottom: 58px;

    .feedback-form__legend {
      margin-bottom: 34px;
    }
  }
}

.feedback-form__label {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

// radio start
.feedback-form__label--radio {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 21px;
    height: 21px;
    background-color: $color-bg-form-control;
    border-radius: 50%;
    border: solid 18px $color-bg-form-control;
    left: 0;
    bottom: 0;
  }
}

.feedback-form__control--radio {
  &:hover + .feedback-form__label--radio::before {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
  }

  &:active + .feedback-form__label--radio::before,
  &:focus + .feedback-form__label--radio::before {
    background-color: #d5d5d5;
    border-color: #d5d5d5;
  }

  &:checked + .feedback-form__label--radio::before {
    background-color: $color-text;
  }

  &:checked:active + .feedback-form__label--radio::before,
  &:checked:focus + .feedback-form__label--radio::before {
    background-color: rgb(33, 33, 33, 0.3);
  }
}
// radio end

// checkbox start
.feedback-form__label--checkbox {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 23px;
    height: 17px;
    padding: 20px 16px 20px 17px;
    border-radius: 5px;
    background-color: $color-bg-form-control;
    left: 0;
    bottom: 0;
  }
}

.feedback-form__control--checkbox {
  &:hover + .feedback-form__label--checkbox::before {
    background-color: #e5e5e5;
  }

  &:active + .feedback-form__label--checkbox::before,
  &:focus + .feedback-form__label--checkbox::before {
    background-color: #d5d5d5;
  }

  &:checked + .feedback-form__label--checkbox::before {
    content: url("../img/tick.svg");
    margin: auto;
  }

  &:checked:active + .feedback-form__label--checkbox::before,
  &:checked:focus + .feedback-form__label--checkbox::before {
    content: url("../img/tick-active.svg");
  }
}
// checkbox end

.feedback-form__required-fields {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin: auto 0;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: right;
  }
}

.feedback-form__button {
  @media (min-width: $tablet-width) {
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    width: 480px;
  }
}

.feedback-form__input-group {
  display: flex;
}

.feedback-form__icon {
  background-color: #e6e6e6;
}

.feedback-form__icon--phone {
  padding: 20px;
}

.feedback-form__icon--mail {
  padding: 23px;
}
