.location {
  padding: 0 20px;
  padding-top: 30px;
  padding-bottom: 49px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 62px;
    padding-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 81px;
    padding-bottom: 66px;
  }
}

.location__title {
  @include size-text-title;

  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 26px;
  }
}

.location__text {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  padding-top: 21px;
  padding-bottom: 25px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-top: 32px;
    padding-bottom: 37px;
    padding-left: 167px;
    padding-right: 167px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 43px;
    padding-left: 382px;
    padding-right: 382px;
  }
}

.location__search {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding-left: 88px;
    padding-right: 88px;
  }
}
