.location {
  padding: 0 20px;
  padding-top: 33px;
  padding-bottom: 49px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 58px;
    padding-bottom: 58px;
  }
}

.location__title {
  @include size-text-title;

  margin: 0;
}

.location__text {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  padding-top: 21px;
  padding-bottom: 27px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-bottom: 37px;
    padding-left: 167px;
    padding-right: 167px;
  }
}

.location__search {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding-left: 121px;
    padding-right: 121px;
  }
}
