.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
  background-color: $color-bg;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}
