.modal-error {
  padding-top: 40px;
  padding-bottom: 35px;
}

.modal-error__title {
  @include size-text-subtitle;

  margin: 0;
}

.modal-error__text {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 0 22px;
  padding-top: 24px;
  padding-bottom: 22px;
  margin: 0;
}

.modal-error__button {
  width: 180px;
  font-size: 18px;
  margin: 0 auto;
}
