.page-footer {
  padding: 0 20px;
  padding-top: 38px;
  padding-bottom: 26px;
}

.page-footer__social {
  padding: 0 66px;
  padding-top: 33px;
  padding-bottom: 45px;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
