.page-body {
  margin: 0;
  background-color: $color-bg-form-control;
}

.page-body__wrapper {
  width: 320px;
  margin: 0 auto;
  background-color: $color-bg;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  }
}
