.page-footer {
  padding: 0 20px;
  padding-top: 38px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    padding-top: 4px;
    padding-left: 0;
    padding-right: 0;
  }
}

.page-footer--catalog {
  padding-top: 77px;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
  }
}

.page-footer__hashtag {
  @media (min-width: $tablet-width) {
    width: 256px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.page-footer__social {
  padding: 0 66px;
  padding-top: 33px;
  padding-bottom: 36px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 0;
    width: 256px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;

  @media (min-width: $tablet-width) {
    width: 256px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}
