.page-main__image {
  width: 320px;
  height: 389px;
  background-color: $color-bg-secondary;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 518px;
  }
}
