.presentation {
  padding-top: 32px;
}

.presentation__title {
  @include size-text-title;

  display: block;
  text-align: center;
}

.presentation__text {
  padding: 0 23px;
  padding-top: 26px;
  padding-bottom: 33px;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}

.presentation__video {
  @media (min-width: $tablet-width) {
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 200px;
  }
}

.presentation__controls {
  @media (min-width: $tablet-width) {
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 200px;
  }
}

.presentation-controls__wrapper {
  display: flex;
  gap: 31px;
  background-color: $color-bg-tertiary;
  padding: 23px;
}

.presentation-controls__button--subtitles {
  margin-left: auto;
}
