.presentation-controls__wrapper {
  display: flex;
  gap: 31px;
  background-color: $color-bg-tertiary;
  padding: 23px;
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    padding-top: 36px;
    padding-bottom: 34px;
    padding-left: 35px;
    padding-right: 10px;
    margin: 0;
    background-color: rgb(0, 0, 0, 0.6);
  }
}

.presentation-controls__button--subtitles {
  @media (max-width: $mobile-width-only) {
    margin-left: 104px;
  }

  margin-left: auto;
}

.presentation-controls__icon {
  fill: #5c6870;

  &:hover {
    fill: #333333;
  }

  &:active {
    fill: rgb(33, 33, 33, 0.3);
  }

  @media (min-width: $tablet-width) {
    fill: #ffffff;

    &:hover {
      fill: rgb(255, 255, 255, 0.6);
    }

    &:active {
      fill: rgb(255, 255, 255, 0.3);
    }
  }
}
