.presentation-controls__wrapper {
  position: relative;
  display: flex;
  gap: 31px;
  background-color: $color-bg-tertiary;
  padding: 23px;
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    padding-top: 36px;
    padding-bottom: 34px;
    padding-left: 35px;
    padding-right: 10px;
    margin: 0;
    background-color: rgb(0, 0, 0, 0.6);
  }
}

.presentation-controls__button--subtitles {
  @media (max-width: $mobile-width-only) {
    margin-left: 104px;
  }

  @media (min-width: $tablet-width) {
    margin-left: 442px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 592px;
  }
}

.presentation-controls__icon {
  fill: #5c6870;

  &:hover {
    fill: #333333;
  }

  &:active {
    fill: rgb(33, 33, 33, 0.3);
  }

  @media (min-width: $tablet-width) {
    fill: #ffffff;

    &:hover {
      fill: rgb(255, 255, 255, 0.6);
    }

    &:active {
      fill: rgb(255, 255, 255, 0.3);
    }
  }
}

.presentation-controls__volume-scale {
  position: absolute;
  content: "";
  width: 235px;
  height: 3px;
  left: 22px;
  top: -23px;
  background-color: rgb(255, 255, 255, 0.2);

  @media (min-width: $tablet-width) {
    left: 93px;
    top: 45px;
    width: 389px;
  }

  @media (min-width: $desktop-width) {
    left: 93px;
    top: 45px;
    width: 540px;
  }
}

.presentation-controls__volume-slider {
  position: absolute;
  top: -4px;
  left: 35px;

  @media (min-width: $tablet-width) {
    top: -5px;
    left: 112px;
  }
}
