.presentation {
  padding-top: 29px;

  @media (max-width: $mobile-width-only) {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 320px;
      height: 1px;
      background-color: #e5e5e5;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
    }
  }

  @media (min-width: $tablet-width) {
    position: relative;
    padding-top: 64px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 63px;
  }
}

.presentation__title {
  @include size-text-subtitle;

  display: block;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.presentation__text {
  padding: 0 23px;
  padding-top: 26px;
  padding-bottom: 33px;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 32px;
    padding-bottom: 79px;
    padding-left: 161px;
    padding-right: 161px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 377px;
    padding-right: 377px;
  }
}

.presentation__video {
  @media (min-width: $tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 200px;
  }
}

.presentation__controls {
  @media (max-width: $mobile-width-only) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 280px;
      height: 45px;
      background-color: rgb(0, 0, 0, 0.6);
      transform: translate(0, -100%);
      left: 20px;
    }
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 0;
    padding: 0 60px;
    box-sizing: border-box;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    padding: 0 200px;
  }
}

.presentation-controls__wrapper {
  position: relative;
}

.presentation-controls__volume-scale {
  position: absolute;
  left: 22px;
  top: -20px;

  @media (min-width: $tablet-width) {
    left: 93px;
    top: 45px;
  }
}

.presentation-controls__volume-slider {
  position: absolute;
  left: 56px;
  transform: translate(0, -75%);
  top: -15px;

  @media (min-width: $tablet-width) {
    left: 204px;
    top: 50px;
  }
}
