.presentation {
  padding-top: 32px;

  @media (max-width: $mobile-width-only) {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 320px;
      height: 1px;
      background-color: #e5e5e5;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
    }
  }

  @media (min-width: $tablet-width) {
    position: relative;
    padding-top: 53px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 63px;
  }
}

.presentation__title {
  @include size-text-title;

  display: block;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.presentation__text {
  padding: 0 23px;
  padding-top: 26px;
  padding-bottom: 33px;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-left: 161px;
    padding-right: 161px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 377px;
    padding-right: 377px;
  }
}

.presentation__video {
  @media (min-width: $tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 200px;
  }
}

.presentation__controls {
  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 0;
    padding: 0 60px;
    box-sizing: border-box;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    padding: 0 200px;
  }
}

.presentation-controls__wrapper {
  display: flex;
  gap: 31px;
  background-color: $color-bg-tertiary;
  padding: 23px;

  @media (min-width: $tablet-width) {
    background-color: rgb(0, 0, 0, 0.6);
  }
}

.presentation-controls__button--subtitles {
  margin-left: auto;
}

.presentation-controls__icon {
  fill: #5c6870;

  &:hover {
    fill: #333333;
  }

  &:active {
    fill: rgb(33, 33, 33, 0.3);
  }

  @media (min-width: $tablet-width) {
    fill: #ffffff;

    &:hover {
      fill: rgb(255, 255, 255, 0.6);
    }

    &:active {
      fill: rgb(255, 255, 255, 0.3);
    }
  }
}
