.social__list {
  display: flex;
  justify-content: center;
  gap: 6px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-bg-secondary;
  width: 48px;
  height: 48px;

  &:hover {
    background-color: $color-bg-secondary-hover;
  }

  &:active {
    background-color: $color-bg-secondary-active;
  }
}
