.button {
  @include size-text-title;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-bg-secondary;
  color: $color-text-secondary;
  width: 280px;
  height: 58px;
  padding: 0;
  border: none;
}
