.features {
  padding: 0 20px;
}

.features__item {
  background-color: $color-bg;
  text-align: left;
  padding-left: 70px;

  &:first-of-type {
    padding-top: 35px;
  }

  &:last-of-type {
    padding-bottom: 35px;
  }

  &:last-child .features__description {
    padding-bottom: 0;
  }
}

.features__title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: $color-text-bold;
}

.features__description {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: $color-text;
  padding: 21px 0;
}
