.input {
  width: 100%;
  height: 58px;
  background-color: $color-bg-form-control;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  padding: 0;
  padding-left: 22px;
  border: none;
  box-sizing: border-box;

  &::placeholder {
    color: $color-text-bold;
  }
}

.input--large {
  display: block;
  width: 280px;
  height: 160px;
  resize: none;
  font-family: "PT Sans", "Arial", sans-serif;
  padding-top: 13px;
}
