.location {
  padding: 0 20px;
  padding-top: 33px;
  padding-bottom: 49px;
  text-align: center;
}

.location__title {
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  text-transform: uppercase;
}

.location__text {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  padding-top: 21px;
  padding-bottom: 27px;
  margin: 0;
}
