@mixin size-text-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

@mixin size-text-subtitle {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}
