@import "./global.scss";
@import "./constants.scss";
@import "./mixins.scss";
@import "./fonts.scss";
@import "blocks/visually-hidden.scss";
@import "blocks/page.scss";
@import "blocks/page-header.scss";
@import "blocks/page-body.scss";
@import "blocks/page-main.scss";
@import "blocks/main-nav.scss";
@import "blocks/site-list.scss";
@import "blocks/advantages.scss";
@import "blocks/features.scss";
@import "blocks/location.scss";
@import "blocks/button.scss";
@import "blocks/image.scss";
@import "blocks/page-footer.scss";
@import "blocks/social.scss";
@import "blocks/hashtag.scss";
@import "blocks/copyright.scss";
@import "blocks/feedback.scss";
@import "blocks/feedback-form.scss";
@import "blocks/input.scss";
@import "blocks/modal.scss";
@import "blocks/modal-error.scss";
@import "blocks/modal-success.scss";
@import "blocks/button-icon.scss";
@import "blocks/catalog.scss";
@import "blocks/presentation.scss";
@import "blocks/advantages-primary.scss";
@import "blocks/map.scss";
